#!/bin/sh
sh ~/.screenlayout/1.sh &
xset s off &
xset -dpms &
xset s noblank &
xset r rate 300 50 &
xrdb ~/.Xresources &
pa-applet &
xcompmgr -f &
/usr/lib/xfce4/notifyd/xfce4-notifyd &
unclutter &
nitrogen --restore &
wal -R &
