favorites=brave-browser.desktop,Runelite.desktop,net.lutris.guild-wars-2-3.desktop,steam.desktop,steam-game.desktop,net.lutris.Lutris.desktop,net.lutris.path-of-building-2.desktop,PCSX2.desktop,discord.desktop,spotify.desktop,github-desktop.desktop,onboard.desktop
recent=github-desktop.desktop,virtualbox.desktop,steam.desktop,net.lutris.Lutris.desktop,nitrogen.desktop,arandr.desktop,net.lutris.path-of-building-2.desktop,discord.desktop,spotify.desktop,Runelite.desktop,xfce-ui-settings.desktop,xfce-settings-manager.desktop,runelite.desktop,xterm.desktop,stacer.desktop
button-title=Start\ 
button-icon=/home/notkumane/Scripts/start.png
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=false
launcher-icon-size=1
hover-switch-category=false
category-show-name=true
category-icon-size=0
sort-categories=true
view-mode=1
default-category=0
recent-items-max=15
favorites-in-recent=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=false
position-categories-horizontal=true
stay-on-focus-out=false
profile-shape=1
confirm-session-command=true
menu-width=450
menu-height=500
menu-opacity=90
command-settings=xfce4-settings-manager
show-command-settings=false
command-lockscreen=i3lock
show-command-lockscreen=false
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=false
command-logoutuser=i3-msg exit
show-command-logoutuser=true
command-restart=reboot
show-command-restart=true
command-shutdown=poweroff
show-command-shutdown=true
command-suspend=xfce4-session-logout --suspend
show-command-suspend=false
command-hibernate=xfce4-session-logout --hibernate
show-command-hibernate=false
command-logout=xfce4-session-logout
show-command-logout=false
command-menueditor=menulibre
show-command-menueditor=false
command-profile=mugshot
show-command-profile=true
search-actions=6

[action0]
name=Man Pages
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Search the Web
pattern=?
command=exo-open --launch WebBrowser https://duckduckgo.com/?q=%u
regex=false

[action2]
name=Search for Files
pattern=-
command=catfish --path=~ --start %s
regex=false

[action3]
name=Wikipedia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action4]
name=Run in Terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action5]
name=Open URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

